.card{
    background-color: white;
    border-radius: 5px;
    margin: 0 0 5%;
    width: 43%;
    height: 100%;
    font-family: "googleSigmar";
}

.cardImg{
  object-fit : cover;
  border-radius: 5px;
}

.cardContentText{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    font-family: "googleSigmar";
}

.cardContentBottomLeft{
    display: flex;
    float: left;
    vertical-align: center;
    align-items: center;    
    top: 0;
    height: 100%;
    position: relative;
    left: -1%;
}

.cardContentBottomRight {
    float: right;
    top: 14px;
    height: 100%;
    position: relative;
}

.card .cardContentBottom{
  margin: 0 10px;
  transform: (20px);
  transition: 0.5s;
  opacity: 0;
}

.card:hover .cardContentBottom{
  transform: translateY(0px);
  opacity: 1;
}

.noShow{
  
}

/* Mobile */
@media (max-width: 1100px) {
    .content {
      padding: 4rem;
    }
  
    .grid {
      margin-bottom: 120px;
      max-width: 320px;
      text-align: center;
    }
  
    .main {
      flex-direction: column;
    }
  
    .card {
      padding: 1rem 2.5rem;
      width: 100%;
    }
  
    .card h2 {
      margin-bottom: 0.5rem;
    }
}