.blogContainer {
    position: absolute;
    top: 12%;
    left: 27%;
    width: 50%;
}

.inner_blogContainer {
    font-family: 'GmarketSansMedium';
    font-size: smaller;
    padding: 0% 0% 3% 0%;
}

.cover {}

.mainTitleArea {
    padding: 1% 0 5% 0;
    text-align: center;
}

h1.mainTitle{
    position: relative;
}

h1.mainTitle::before,
h1.mainTitle::after
{
    content: '[';
    display: inline-block;
    position: relative;
    top: 1px;
    height: 100%;
    font-size: 1.25em;
    color: tomato;

    transition: all 0.5s ease;
}

h1.mainTitle::after {
    content: ']';
}

h1.mainTitle:hover::before {
    transform: translateX(-5px);
}

h1.mainTitle:hover::after {
    transform: translateX(5px);
}

.content {
    padding: 1% 0% 0.5% 0%;
}

.authorArea {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: "googleBlackHanSans";
    font-size: large;
}

.avatarImg {
    height: 36px;
}

.content>pre {
    background: #f4f4f4;
    border: 1px solid #ddd;
    border-left: 3px solid #f36d33;
    color: #666;
    page-break-inside: avoid;
    font-family: monospace;
    font-size: 15px;
    line-height: 1.6;
    margin: 1.6em 0 1.6em 0;
    max-width: 100%;
    overflow: auto;
    padding: 1em 1.5em;
    display: block;
    word-wrap: break-word;
    /* white-space: pre-wrap; */
}

.content p code {
    border: 1px solid rgb(208, 213, 231);
    border-radius: 4px;
    background-color: rgb(250, 251, 255);
    padding: 4px;
}

.content a {
    color: blue;
    text-decoration: underline lightblue;
}

.content a:focus,
.content a:hover {
    display: inline-block;
    color: lightblue;
    transform: translateY(2px);
    transition: 0.7s;
}


.content>blockquote {
    margin: 3% 0 3% 0;
}

.content>blockquote {
    padding: 15px;
    background: #eee;
    border-radius: 5px;
}

.byText {
    font-size: x-small !important;
    padding: 0 5% 0 0;
}

.authtext {
    display: flex;
    flex-direction: row;
}

.date {
    margin: auto 0 auto auto;
}

/* Mobile */
/* Tablets & larger smartphones */
@media (max-width: 768px) {
    .blogContainer {
        top: 0%;
        left: 0%;
        width: 100vw;
        padding: 3%;
    }
}

/* Mobile */
/* Tablets & larger smartphones */
@media (max-width: 400px) {}